* {
    box-sizing: border-box;
}

body {
    font-family: Arial, DejaVu Sans, Helvetica, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-size: 20px;
    background: #e0eaf0;
}

header {
    background: #8FBBDA;
    text-align: left;
    border-bottom: 1px solid #5088ab;
    box-shadow: 0 0 8px 0px rgba(0,0,0,0.4);
}

h2 {
    font-weight: normal;
    font-size: 1.5rem;
}

.cajita {
    display: inline-block;
    padding: .2rem .4rem;
    font-size: 0.8em;
    font-weight: bold;
    background: white;
    color: #246797;
    vertical-align: bottom;
}

main {
    flex: 1;
}

footer {
  border-top: 1px solid #c0c0c0;
    background: hsl(0, 0%, 100%); color: hsl(0, 0%, 27%);

    font-size: 0.92rem;
    padding: 2rem 0;
}
.container {
    width: 42rem; max-width: 100%;
     margin: 0 auto; padding: 1.2rem;
}
main.container {
 line-height: 2;
 color: #505050;
}
main.container strong {
  color: #000;
}
main.container h1 {
  font-size: 2rem;
}

textarea{
  min-width:20em;
  width: 100%;
  min-height:20em;

}

input {
  width: 100%;
}

nav {
  text-align: left;
}

nav a {
  color: #104070;
  text-decoration: none;
  padding: 0 .5em;
}

nav a:hover {
  opacity: .85;
}
