<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/estilo.css">
  </head>
  <body>
    <header>
      <div class="container">
      <h1>Esperanza Montero Jaén</h1>
      <h2>
        Traductora e intérprete
        <span class="cajita">EN&rarr;ES</span>
        <span class="cajita">ES&rarr;EN</span>
        <span class="cajita">ZH&rarr;ES</span>
      </h2>
    </div>

      <nav class="container">
        <a href="/">Inicio</a>
          <a href="/servicios">Servicios</a>
            <a href="/contacto">Contacto</a>
      </nav>
    </header>
    <main class="container">

{{ content }}

    </main>
    <footer><div class="copyright container">&copy; 2018 Esperanza Montero Jaén</div></footer>
  </body>
</html>
