<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <title>Esperanza Montero Jaén - Traducción y Localización</title>
  <meta charset="utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Special+Elite" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/estilo.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
  <header>
    <div class="width header-items">

      <div class="header-item">
        <h1>Esperanza Montero Jaén</h1>
      </div>

      <nav class="header-item menu">
        <a href="/#servicios">{{ site.t[page.lang].servicios }}</a>
        <a href="/#porfolio">{{ site.t[page.lang].porfolio }}</a>
        <a href="/#contacto" class="highlight">{{ site.t[page.lang].contacto }}</a>
        <a href="/" class="change-lang lang-es" title="{{ site.t[page.lang].change_es }}">ES</a><a href="/en/" class="change-lang lang-en"  title="{{ site.t[page.lang].change_en }}">EN</a>
      </nav>
    </div>
  </header>

  {{ content }}
  <footer>
    <div class="width footer-items">

      <div class="copyright"><p>&copy; 2019 Esperanza Montero Jaén</p> <p>{{ site.t[page.lang].design }}: Esperanza Montero {{ site.t[page.lang].y }} <a href="https://david.quotient.space">David Charte</a></p></div>
      {% include socials.html %}
    </div></footer>
  </body>
</html>
